/* Header.css */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .logo {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
} */

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-right: 20px;
}

.navbar-links li:last-child {
    margin-right: 0;
}

.navbar-links li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
    /* Transition for smooth color change */
}

/* Hover effect for links */
.navbar-links li a:hover {
    color: #ff0;
    /* Change this to your desired hover link color */
}

/* Active link styling */
.navbar-links li a.active {
    color: #ff0;
    /* Change this to your desired active link color */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links {
        margin-top: 10px;
    }

    .navbar-links li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}